################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/LaunchSchool/FileContentIndex
/.vs/slnx.sqlite
/.vs/LaunchSchool/v17/.wsuo
